<a href="https://colab.research.google.com/github/basilbaumann/CS-167-Notes/blob/main/Day01_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?
#abc

['abc', 2, 3]

In [2]:


#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [12]:
#you should be able to run this without any issue.
import pandas as pd

In [27]:
from google.colab import drive
drive.mount('/content/drive')

#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/CS167/Data/restaurant.csv')
data.head()

Mounted at /content/drive

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No